<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Home | TImoviES</title>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="css/base.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="css/owl.theme.default.min.css" />
  </head>

  <body>
    <!-- navigation -->
    <div id="navigation" class="navigation">
      <a class="logoLink" href="https://2560-final.glitch.me/">
        <img class="logo" src="https://cdn.glitch.com/d18e9959-9ac2-47bb-b596-b2cfc165135c%2Flogo.png?v=1574484580750" />
      </a>
      <img class="searchLogo" src="https://cdn.glitch.com/d18e9959-9ac2-47bb-b596-b2cfc165135c%2Fimages.png?v=1574763107329">
      
      <form id="search" action="https://2560-final.glitch.me/api/movie/search?sort=name" method="post">     
        <input id="query" type="text" name="query" />
      </form>
      
      <% if(loginUser == null){ %>
        <a href="https://2560-final.glitch.me/signin" class="signin">
          Sign In
        </a>  
      <% } else { %>
        <a href="https://2560-final.glitch.me/api/user/logout" class="signin">
          Log out
        </a>  
      <% }%>
      
      <% if(loginUser != null){ %>
        <a class="username" href="https://2560-final.glitch.me/api/user/profile/<%= loginUser._id%>"><span>&nbsp;&nbsp;&nbsp;&nbsp;(<%= loginUser.username%>)</span></a>
      <% } %>      
    </div>
    
    <!-- recommend -->
    <div class="recommend">
      <img
        src="https://cdn.glitch.com/d18e9959-9ac2-47bb-b596-b2cfc165135c%2Fjoker.GIF?v=1574484949831"
      />
      <div>
        <h1>
          JOKER(2019)
        </h1>
        <p>
          Forever alone in a crowd, failed comedian Arthur Fleck seeks
          connection as he walks the streets of Gotham City. Arthur wears two
          masks -- the one he paints for his day job as a clown, and the guise
          he projects in a futile attempt to feel like he's part of the world
          around him. Isolated, bullied and disregarded by society, Fleck begins
          a slow descent into madness as he transforms into the criminal
          mastermind known as the Joker.
        </p>
        <a href="https://2560-final.glitch.me/api/movie/one/5dec760a557f7339b4a53129">View</a>
      </div>
    </div>
    
    <!-- latest release -->
    <div id="latest" class="section">
      Latest Releases&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="browse">View All Movies</a>
    </div>
    
    <div class="carousel">
      <div class="owl-carousel owl-theme">
        <% year.forEach(movie=>{ %>
          <a href="https://2560-final.glitch.me/api/movie/one/<%= movie._id%>">
            <div class="item">
              <div id="<%= movie.name %>" class="info_box">
                <p class="name"><%= movie.name %></p>
                <p class="description"><%= movie.description %></p>
              </div>
              <img src="data:image/jpeg;base64,<%= movie.poster%>" />       
            </div>
          </a>
        <% })%>
      </div>
    </div>
    
    <!-- editors picks -->
    <div class="section">
      Editors' Picks&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="browse">View All Movies</a>
    </div>
    
    <div class="carousel">
      <div class="owl-carousel owl-theme">
        <% top.forEach(movie=>{ %>
          <a href="https://2560-final.glitch.me/api/movie/one/<%= movie.movieId._id%>">
            <div class="item">
              <div id="<%= movie.movieId.name %>" class="info_box">
                <p class="name"><%= movie.movieId.name %></p>
                <p class="description"><%= movie.movieId.description %></p>
              </div>
              <img src="data:image/jpeg;base64,<%= movie.movieId.poster%>" />       
            </div>
          </a>
        <% })%>
      </div>
    </div>
    
    <!-- footer -->
    <footer>
      @Pitt
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/carousel.js"></script>
    
    <script>
      $(".item").mouseover(function(){
        var info = $(this).children(":first");
        info.css("visibility", "visible");
      });
      $(".item").mouseout(function(){
        var info = $(this).children(":first");
        info.css("visibility", "hidden");  
      })
      $("#search").keydown(function(e){
        var curKey = e.which; 
        if(curKey == 13){
          $('#search').submit(); 
        }
      });
      $(".browse").click(function(e){
        $("#search").prop("action", "https://2560-final.glitch.me/api/movie/search?sort=name");
        $("#search").submit();
      })
    </script>
  </body>
</html>
